services:
    upstream_janus1:
        proto: upstream
        servers:
            - http: http://janus_api:8088
            - ws: ws://janus_api:8188

    upstream_ums1:
        proto: upstream
        servers:
            - http: https://ums_api
            - ws: wss://ums_api
            - ws: wss://ums_api_backup

    httpsvr1:
        proto: http
        net:
            enable: true
            addr: :6443
            tls_crt_file: /tmp/etc/cert.pem
            tls_key_file: /tmp/etc/cert.key
        http:
            servername: _
            root: /tmp/html
            max_conns:              100
            dial_timeout:           10s
            response_timeout:       10s
            keepalive_timeout:      120s
            flush_interval:         10ms
            global_flush_interval:  10ms
            routes:
                janus:
                    upstream: http://upstream_janus1
                    hosts:
                        - janus.zenvv.com
                    protos:
                        - ws@janus-protocol
                    paths:
                        - /janus
                ums:
                    upstream: http://upstream_ums1
                    hosts:
                        - ums.zenvv.com
                    paths:
                        - /board
                        - /status
                        - /object/version
                default:
                    upstream: http://html_api:8080
                    paths:
                        - /test: /test
                        - /out: /out

    tcpsvr1:
        proto: tcp
        net:
            enable: true
            addr: :6080
            tls_crt_file: /tmp/etc/cert.pem
            tls_key_file: /tmp/etc/cert.key
            ips:
                - host_ip
        enable_http: false

    udpsvr1:
        proto: udp
        net:
            enable: false
            addr: :6000
            tls_crt_file: /tmp/etc/cert.pem
            tls_key_file: /tmp/etc/cert.key
            ips:
                - host_ip

