services:
    upstream_janus1:
        proto: upstream
        servers:
            - http://janus_api:8088
            - ws://janus_api:8188

    upstream_ums1:
        proto: upstream
        servers:
            - https://ums_api
            - wss://ums_api
            - wss://ums_api_backup

    httpsvr1:
        proto: http
        net:
            addr: :6443
            tls_crt_file: /tmp/etc/cert.pem
            tls_key_file: /tmp/etc/cert.key
        http:
            servername: _
            root: /tmp/html
            max_conns:                  500
            idle_conn_timeout:          30s
            dial_timeout:               10s
            response_header_timeout:    300s
            keepalive_timeout:          1200s
            flush_interval:             100ms
            global_flush_interval:      100ms
            routes:
                janus:
                    upstream: http://upstream_janus1
                    icetcp: true
                    icedirect: true
                    hosts:
                        - janus.zenvv.com
                    protos:
                        - ws@janus-protocol
                    paths:
                        - /janus
                ums:
                    disable: true
                    upstream: http://upstream_ums1
                    icetcp: false
                    icedirect: true
                    hosts:
                        - ums.zenvv.com
                    paths:
                        - /board
                        - /status
                        - /object/version
                webapi:
                    autonomy: true
                    paths:
                        - /board
                        - /status
                        - /object/version
                default:
                    upstream: http://html_api:8080
                    paths:
                        - /test: /test
                        - /out: /out

    tcpsvr1:
        proto: tcp
        net:
            addr: :6080
            tls_crt_file: /tmp/etc/cert.pem
            tls_key_file: /tmp/etc/cert.key
            enable_ice: true
            candidate_ips:
                - xrtc_cand_ip
        enable_http: false

    udpsvr1:
        proto: udp
        net:
            addr: :6000
            tls_crt_file: /tmp/etc/cert.pem
            tls_key_file: /tmp/etc/cert.key
            enable_ice: true
            candidate_ips:
                - xrtc_cand_ip

